/* Path: public/style.css */
body {
  margin: 0;
  overflow: hidden;
  background: #111;
}

#xterm-container {
  width: 800px;
  height: 320px;
}

.xterm {
  background: #111 !important;
  color: #00FF00 !important;
  font-family: 'Fira Mono', 'Consolas', monospace;
  font-size: 1rem;
}

a-plane, a-entity {
  pointer-events: none;
}
